.error-container {
  text-align: center;
  padding: 60px 20px;
}

.icon {
  font-size: 60px;
  color: #1a1a1a;
  margin-bottom: 20px;
}

.code {
  font-size: 100px;
  font-weight: bold;
  color: #1a1a1a;
}

.message {
  font-size: 26px;
  margin-top: 10px;
  color: #333;
}

.description {
  font-size: 18px;
  color: #555;
  margin: 20px 0 30px 0;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* BOTONES */
.btn-accion {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 22px;
  border-radius: 8px;

  background-color: #0a0f24; 
  color: white !important;
  border: 2px solid #0a0f24;

  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  transition: 0.2s ease-in-out;

  i {
    color: white !important;
  }
}

.btn-accion:hover {
  background-color: #132046;
  border-color: #132046;
}
