<div class="error-container">

  <div class="icon">
    <i class="fa-solid fa-triangle-exclamation"></i>
  </div>

  <h1 class="code">404</h1>
  <h2 class="message">Error: Esa ruta no existe</h2>

  <p class="description">
    Lo sentimos, la página que buscas no se encuentra disponible.
  </p>

  <div class="actions">
    <a routerLink="/" class="btn-accion">
      <i class="fa-solid fa-house"></i> Volver al Inicio
    </a>

    <a routerLink="/productos" class="btn-accion">
      <i class="fa-solid fa-box"></i> Ver Productos
    </a>
  </div>

</div>
