  <app-header></app-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <div class="container my-5 p-4 bg-white rounded shadow">
  <section>
    
    <header class="text-center mb-4">
      <h2 class="fs-2 text-dark">NOSOTROS</h2>
      <h3 class="fs-5 fw-normal">ESTE ES NUESTRO CAMINO..</h3>
    </header>

    <div class="row align-items-center g-4">
      
      <div class="col-md-6">
        <p class="fs-6 lh-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
          cupiditate voluptatem laudantium tempore sed praesentium adipisci deleniti
          harum nostrum aut perspiciatis beatae labore expedita impedit fugit nulla,
          quibusdam rerum atque.
        </p>
      </div>
      <div class="col-md-6">
        <img src="https://th.bing.com/th/id/OIP.w6uNe_iCcHPXP2bHGggNewHaDN?w=1440&h=625&rs=1&pid=ImgDetMain"
             alt="BannerHumber"
             class="img-fluid rounded shadow-sm">
      </div>
    </div>

    <footer class="text-center mt-5 pt-3 border-top">
      <div class="d-flex justify-content-center gap-3">
        <i class="fa-brands fa-instagram text-danger fs-4" style="cursor:pointer;"></i>
        <i class="fa-brands fa-facebook text-danger fs-4" style="cursor:pointer;"></i>
        <i class="fa-brands fa-youtube text-danger fs-4" style="cursor:pointer;"></i>
      </div>
    </footer>
  </section>
</div>
<app-footer></app-footer>
